In [47]:
%database testdb
%container testcol1

In [70]:
%%sql
SELECT top 10 r.mypk, r.id, r._ts from r  order by r._ts

,_ts,id,mypk
0,1559064392,bc259a0c-816d-11e9-a65a-efe09a54af5b,bc259a0c-816d-11e9-a65a-efe09a54af5b
1,1559064392,bc259a10-816d-11e9-a65a-efe09a54af5b,bc259a10-816d-11e9-a65a-efe09a54af5b
2,1559064392,bc259a0e-816d-11e9-a65a-efe09a54af5b,bc259a0e-816d-11e9-a65a-efe09a54af5b
3,1559064392,bc24d6b8-816d-11e9-a65a-efe09a54af5b,bc24d6b8-816d-11e9-a65a-efe09a54af5b
4,1559064392,bc259a0a-816d-11e9-a65a-efe09a54af5b,bc259a0a-816d-11e9-a65a-efe09a54af5b
5,1559064414,c9030f9c-816d-11e9-942b-e594c984e28c,c9030f9c-816d-11e9-942b-e594c984e28c
6,1559064414,c9030fa0-816d-11e9-942b-e594c984e28c,c9030fa0-816d-11e9-942b-e594c984e28c
7,1559064414,c9030f9e-816d-11e9-942b-e594c984e28c,c9030f9e-816d-11e9-942b-e594c984e28c
8,1559064414,c9030f9a-816d-11e9-942b-e594c984e28c,c9030f9a-816d-11e9-942b-e594c984e28c
9,1559064414,c9022538-816d-11e9-942b-e594c984e28c,c9022538-816d-11e9-942b-e594c984e28c

In [71]:
%%sql --database testdb --container testcol2
SELECT top 1 r.mypk, r.id, r._ts from r order by r._ts desc

,_ts,id,mypk
0,1559064708,78b2a51d-816e-11e9-b261-27452561552f,78b2a51d-816e-11e9-b261-27452561552f

In [72]:
result=_

In [73]:
result["id"]

0    78b2a51d-816e-11e9-b261-27452561552f
Name: id, dtype: object